.notes-collection-container {
  color: var(--color5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
}

.no-notes-msg {
  text-align: center;
}

@media (min-width: 576px) {
  .notes-collection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (min-width: 992px) {
  .notes-collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}