.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
}

.new-note-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background: var(--color5);
    color: var(--color1);
    font-weight: bold;
    font-size: 1.25rem;
}

.new-note {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .desplegar {
    position: relative;
    margin-top: 0;
    animation-name: desplegar;
    animation-duration: 500ms;
}

@keyframes desplegar {
    0% {
        margin-top: -150vh;
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.contraer {
    position: fixed;
    margin-top: -150vh;
    animation-name: contraer;
    animation-duration: 5s;
    opacity: 0;
}
@keyframes contraer {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        margin-top: -150vh;
        opacity: 0;
    }
} */
