@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

:root {
    --color1: #000f08ff;
    --color2: #1c3738ff;
    --color3: #4d4847ff;
    --color4: #f4fff8ff;
    --color5: #8baaadff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fuzzy Bubbles", cursive;
}
