@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

:root {
    --color1: #000f08;
    --color2: #1c3738;
    --color3: #4d4847;
    --color4: #f4fff8;
    --color5: #8baaad;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fuzzy Bubbles", cursive;
}
